@font-face {
  font-family: "OpenSans-Extrabold";
  src: url("./../../fonts/OpenSans-Extrabold.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("./../../fonts/OpenSans-Light.ttf");
}

.about-caption {
  display: inline-block;
  width: 42%;
}

.about-caption__title {
  margin: 60px 0 0 20px;
  font-family: "OpenSans-Extrabold", Arial, sans-serif;
  font-size: 1.3rem;
  color: #591d39;
  text-transform: uppercase;
}

.about-caption__text {
  margin: 0 0 60px 20px;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 1.3rem;
  color: #da4271;
}