.blog-item {

}

.blog-item__text {
  font-size: 0.75rem;
  color: #8f6f7e;
  letter-spacing: 0.09em;
}

.blog-item__info {
  display: flex;
}

.blog-item__author {
  font-size: 0.6rem;
  color: #da4271;
}

.blog-item__date {
  font-size: 0.6rem;
  color: #da4271;
}

.blog-item__comments {
  font-size: 0.6rem;
  color: #da4271;
}

.blog-item__author-icon {
  color: #591d39;
}

.blog-item__date-icon {
  color: #591d39;
}

.blog-item__comments-icon {
  color: #591d39;
}