.blog-item {
}

.blog-item__text {

}

.blog-item__info {
  display: flex;
}

.blog-item__author {

}

.blog-item__date {

}

.blog-item__comments {

}

.blog-item__author-icon {
  color: #591d39;
}

.blog-item__date-icon {
  color: #591d39;
}

.blog-item__comments-icon {
  color: #591d39;
}