@font-face {
  font-family: "OpenSans-Extrabold";
  src: url("./../../fonts/OpenSans-Extrabold.ttf");
}

.contact-form {
  margin-left: 31px;
}

.contact-form__name {
  width: 240px;
  height: 36px;
  margin-top: 19px;
  padding: 2px 8px;
  color: #e782a1;
  background-color: #00000000;
  border: 1px solid #e782a1;
}

.contact-form__email {
  width: 240px;
  height: 36px;
  margin-top: 19px;
  padding: 2px 8px;
  color: #e782a1;
  background-color: #00000000;
  border: 1px solid #e782a1;
}

.contact-form__message {
  width: 236px;
  height: 76px;
  resize: none;
  margin-top: 19px;
  padding: 2px 8px;
  color: #e782a1;
  background-color: #00000000;
  border: 1px solid #e782a1;
}

.contact-form__name::placeholder, .contact-form__email::placeholder, .contact-form__message::placeholder {
  color: #e782a1;
}

.contact-form__submit-button {
  width: 90px;
  height: 36px;
  margin-top: 16px;
  font-family: "OpenSans-Extrabold", Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #00000000;
  border: 1px solid #d66767;
}