.copyright {
  display: flex;
  justify-content: center;
  margin: auto 0;
  background-color: #4f1932;
  box-shadow: inset 0 0 6px #00000022;
}

.copyright__text {
  width: 60%;
  margin: 42px 0;
  font-size: 0.75rem;                                      /* opensans redular */
  color: #ffffff;
  letter-spacing: 0.08em;
}