@font-face {
  font-family: "OpenSans-Extrabold";
  src: url("./../../fonts/OpenSans-Extrabold.ttf");
}

.footer-portfolio-item {
  width: 30%;
}

.footer-portfolio-item__title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.footer-portfolio-item__image {
  float: left;
  padding: 8px;
  border: 1px solid #743b56;
}

.footer-portfolio-item__text {
  font-size: 0.75rem;
  color: #8f6f7e;
}

.footer-portfolio-item__more-button {
  width: 78px;
  height: 31px;
  margin: 20px 0 0 0;
  font-family: "OpenSans-Extrabold", Arial, sans-serif;
  font-size: 0.7rem;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #00000000;
  border: 1px solid #743b56;
}

.footer-portfolio-item__more-plus {
  color: #da4271;
}