.header-menu {
  display: flex;
  justify-items: end;
}

.header-menu__link {
  display: inline-block;
  padding: 10px;
  font-size: 0.7rem;
  color: #4f1932;
  text-transform: uppercase;
}

.header-menu__link:hover {
  color: #da4271;
  cursor: pointer;
}