@font-face {
  font-family: "OpenSans-Extrabold";
  src: url("./../../fonts/OpenSans-Extrabold.ttf");
}

.quick-contact {
  position: relative;
  top: -420px;
  left: 585px;
  display: inline-block;
  width: 300px;
  background-color: #da4271;
}

.quick-contact__title {
  display: inline-block;
  margin: 30px 0 0 31px;
  font-family: "OpenSans-Extrabold", Arial, sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  text-transform: uppercase;
}